@page "/"

@using Syncfusion.Blazor.Inputs


<div>
    <table style="margin-top: 30px">
        <tr>
            <td> <b> Enter your name : </b></td>
            <td>
                <SfInPlaceEditor TValue="string" @bind-Value="@TextValue" ShowButtons="false"
                                 Disabled="EditModeValue">
                    <EditorComponent>
                        <SfTextBox Placeholder="Enter your name" @bind-Value="@TextValue"></SfTextBox>
                    </EditorComponent>
                    <InPlaceEditorSaveButton Content="OK" CssClass="e-outline"></InPlaceEditorSaveButton>
                    <InPlaceEditorCancelButton Content="Cancel" CssClass="e-outline"></InPlaceEditorCancelButton>
                </SfInPlaceEditor>
            </td>
        </tr>
    </table>
</div>

@code {

    public bool EditModeValue { get; set; } = true;

    public string TextValue = "Andrew";

}

<style>

    .e-inplaceeditor .e-editable-value-container .e-editable-value {
        border-bottom: 4px dotted green !important;
        color: red !important;
        font-size: 18px !important;
    }

</style>
